/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require owl.carousel
 *= require owl.theme 
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'scaffolds';
@import 'books';
@import 'categories';
@import 'alerts';
@import 'buttons';
@import 'layouts';
@import 'home';

html {
  font-family: Courier New;
  margin-left: 10%;
  margin-right: 10%;
}

img.small {
  max-width: 100px;
  max-height: 100px;
}

img.middle {
  max-width: 200px;
  max-height: 200px;
}

img.large {
  max-width: 350px;
  max-height: 350px;
}

/*

table {
  font-size: 12px;
}

.low {
  line-height: 15px;
}

.fixed {
  table-layout: fixed;
}

table.center {
  width: 70%;
  margin-left:15%; 
  margin-right:15%;
}

.name {
  background: #0a0
}

.links {
  background: #3c3;
  line-height: 20px;
}

.fifty {
  width: 50%;
}

.tab {
  padding-left: 50px;
}

.little {
  font-size: 12px;
}

.xs {
  font-size: 11px;
  line-height: 18px;
}

.upper {
  table-layout: fixed;
  text-align: center;
  width: 90%;
  margin-left: 5%; 
  margin-right: 5%;
}



.underline {
  border-bottom: 2px solid;
}

.underline-thin {
  border-bottom: 1px solid;
}


.border {
  border: 1px solid;
}

textarea {
  width: 100%;
  max-width: 920px;
  min-height: 100px;
  max-height: 300px;
}
*/