html {
  font-family: Courier New;
  font-size: 12px;
  margin-left: 10%;
  margin-right: 10%;
}

img.small {
  max-width: 100px;
  max-height: 100px;
}

img.middle {
  max-width: 200px;
  max-height: 200px;
}

img.large {
  max-width: 350px;
  max-height: 350px;
}

.center {
  text-align: center;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.throughout {
  width: 100%;
}

.item {
  line-height: 60px;
}

.empty-line {
  padding-top: 80px;
}

.fixed {
  table-layout: fixed;
}
